{% extends "freelancer/common/base.html" %}
{% block head %}
{{super()}}
  <meta name="description" content="一个不安分的程序员，愿做技术社区的一股清流，让技术帮助更多的人，分享编程感悟，成长我们一直在路上!">
  <title>博客@天朗工作室</title>
   <link rel="stylesheet" href="/static/tmpl/freelancer/css/article.css" />
{% endblock head %}

{% block content %}
{% block content_header %}
     {{super()}}
{% endblock content_header %}
  <!-- Main Content -->
  <div class="container">

    <div class="row">
    
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for article in list_new_articles(page_no=page_no,  page_size=page_size, status=status)  %}
        {% if article.url %}
            {%set article_url=article.url %}
        {% else %}
            {%set article_url='/view/article/' ~ article.id ~ '/' ~ status %}
        {% endif %}
        <div class="post-preview">
          <a href="{{article_url}}" target="_blank">
            <h2 class="post-title">
                 {{article.title | default(value='')}}
            </h2>
            <h3 class="post-subtitle">
                 {{article.subtitle | default(value='')}}
            </h3>
     
          </a>
          <p class="post-meta">
            <a href="#">{{article.creater}}</a>
             发布于{{article.create_at|date(format="%Y年%m月%d日%H:%M")}}
             {% if  article.creater == username %} 
                    <a target="_blank" href="/article/admin/edit/{{article.id}}">编辑</a>
             {% endif %}
          </p>
        </div>
        <hr>
       {%endfor %}
        <!-- Pager -->
        <div class="clearfix">
            {% if  isUnderReview %}
               {% set more_url = '/article/admin/under_review'%}
            {% else %}
               {% set more_url = '/view/articles'%}
            {% endif %}

            <a class="btn btn-primary float-right" href="{{more_url}}}?page_no={{page_no + 1}}&page_size=7">查看更多 &rarr;</a>
        </div>
        <hr>
      </div>
    </div>
  </div>
{% endblock content %}

