{% extends "freelancer/common/base.html" %}
{% block head %}
  {{super()}}
  <meta name="description" content="{{article_info.intro | truncate(length=88) }}">
  <title>{{article_info.title}}@天朗工作室</title>
   <link rel="stylesheet" href="/static/tmpl/freelancer/css/article.css" />
{% endblock head %}

{% block content%}
  <!-- Page Header -->
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{article_info.title}}</h1>
            <h2 class="subheading">{{article_info.subtitle}}</h2>
            <span class="meta">由
              <a href="#">{{article_info.creater}}</a> 
              发布于{{article_info.create_at|date(format="%Y年%m月%d日%H:%M")}}
            </span>
              {% if  article_info.creater == username %} 
                    <span class="meta text-right">
                            <a target="_blank" href="/article/admin/edit/{{article_info.id}}">编辑</a>
                    </span>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            {{article_content.content | safe}}
        </div>
    </div>
    </div>
    </article>
{% endblock content%}
