{% extends "freelancer/common/base.html" %}
{% block head %}
  {{super()}}
  <meta name="description" content="A curious programmer，Willing to be a clean stream in the technical community, let technology help more people, share programming insights, and grow up on the way!">
  <title>TianLang Studio</title>
  <style>
      #contact {
          background: url(/static/img/5-star-feedback-upwork.png) no-repeat #f5f5f5;
          background-size: 100% 100%;
      }
  </style>
{% endblock head %}
{% block content%}
<header class="masthead bg-primary  text-center">
    <div class="container d-flex align-items-right flex-column">
        <!-- Masthead Avatar Image--><!--img class="masthead-avatar mb-5" src="/static/tmpl/freelancer/assets/img/avataaars.svg" alt=""-->
        <!-- Masthead Heading-->
        <div class="masthead-heading mb-0">Fusion Zhu@TianLangStudio </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="pre-wrap masthead-subheading font-weight-light mb-0">A Curious Programmer </p>
    </div>

</header>
<section class="page-section portfolio" id="portfolio">
    <div class="container-fluid">
        <!-- Portfolio Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary mb-0 d-inline-block">Blog</h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Items-->
            {% for article in list_recommend_articles(page_no=0, page_size=6) %}
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    {% if article.url %}
                       {%set article_url=article.url %}
                    {% else %}
                        {%set article_url='/view/article/' ~ article.id %}
                    {% endif %}
                    <a target="_blank" href=" {{article_url}}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            Click to View
                        </div>
                    </div>
                    <div class="article-title">{{article.title}}</div>
                    <div class="article-subtitle text-truncate">{{article.subtitle}}</div>
                    <div class="article-intro text-break">
                        {{article.intro | truncate(length=88) }}
                        {% if  article.creater == username %} 
                                <a target="_blank" href="/article/admin/edit/{{article.id}}">Edit</a>
                        {% endif %}
                    </div>
                    </a>
                </div>
            </div>
            {% endfor %}
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto">
                    <a target="_blank" href="/view/articles">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            Click to View More
                        </div>
                    </div>
                    <div class="article-title text-truncate">View More</div>
                    <div class="article-subtitle text-truncate"></div>
                    <div class="article-intro text-break"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">Who am I </h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-10 col-sm-12 ml-auto mr-auto">
                <p class="pre-wrap lead">
                    I think Programming is a hands-on art.
                    Willing to be a clear stream in the technical community, so that technology can help more people.
                    I just like to learn new programing skills. e.g. Java JavaScript Rust Spring React BigData
                    <a href="https://github.com/tianlangstudio" style="color: #80d2ff" target="_blank">View More ...</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="contact">
    <div class="container">
        <!-- Contact Section Heading-->
        <div class="text-center">
            <h2 class="page-section-heading text-secondary d-inline-block mb-0">Contact </h2>
        </div>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Content-->
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"></div>
                    <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:tianlangstudio@aliyun.com">tianlangstudio@aliyun.com</a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column align-items-center">
                    <div class="icon-contact mb-3"></div>
                    <div class="text-muted">Fusion Zhu at</div>
                    <a class="lead font-weight-bold" target="_blank" href="https://www.upwork.com/freelancers/huanqingzhu">Upwork</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">Where am I</h4>
                <p class="pre-wrap lead mb-0">Shenzhen China</p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">More</h4>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://github.com/TianLangStudio/">
                    GitHub
                </a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://www.upwork.com/freelancers/huanqingzhu">
                    Upwork
                </a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="https://twitter.com/CoderFusionZhu">
                    Twitter
                </a>
                <a class="btn btn-outline-light btn-social mx-1" target="_blank" href="http://www.fiverr.com/s2/8710859a06">
                    Fiverr
                </a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="mb-4">Attention!</h4>
                <p class="pre-wrap lead mb-0">This website is used for functional (teaching) demonstration, data is deleted from time to time, availability is not guaranteed</p>
            </div>
        </div>
    </div>
</footer>
<!---modal begin---->
<div class="portfolio-modal modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="dialog">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                                <!-- Outer Row -->
                <div class="row justify-content-center">

                    <div class="col-xl-10 col-lg-12 col-md-9">
            
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                                </div>
                                <form class="user">
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user"  value="zhangsan" id="tl-login-username-ipt" aria-describedby="emailHelp" placeholder="your login name, please">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control form-control-user"  value="123456" id="tl-login-password-ipt" placeholder="password">
                                </div>
                                <div class="btn btn-primary login-btn">
                                    Login
                                </div>
                                </form>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
            
                    </div>
            
                </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="dialog">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                                <!-- Outer Row -->
            <div class="text-left">Are you want to logout？</div>
            <div class="btn btn-danger float-right logout-btn">Logout</div>
        </div>
    </div>
</div>
<!---modal end--> 
{% endblock content %}
