{% extends "freelancer/common/base.html" %}
{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/com/summernote/0.8.18/summernote-bs4.min.css" />
<style>
    #tl-article-content-cnr {
      height: 450px;
    }
  </style>
{% endblock head %}
{% block nav %}
{% endblock nav %}
{% block content %}
<div class="container">
    <form>
        <input type="hidden" id="tl-article-is-edit" name="is_edit" value="{{is_eidt | default(value=false) }}">
        <input type="hidden" id="tl-article-id" name="article_id" value="{{article_id | default(value='') }}">
        <div class="form-group row">
          <label for="tl-article-name-in" class="col-sm-2 col-form-label">名称：</label>
          <div class="col-sm-10">
            <input type="text"  id="tl-article-name-in"    class="form-control" value="{{article_name | default(value='') }}" placeholder="先取个名字吧">
          </div>
        </div>
        <div class="form-group row" >
          <div class="col-sm-12" id="tl-article-content-cnr">
                 {{article_content | default(value='') }}
          </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10"></div>
            <div class="col-sm-2">
                <div class="btn btn-info form-control" id="tl-publish-btn">发布</div>
            </div>
        </div>
      </form>
</div>
{% endblock content %}

{% block footer %}
{{super()}}
<script src="/static/com/summernote/0.8.18/summernote-bs4.js"></script>
<script src="/static/tmpl/freelancer/js/article.js"></script>
{% endblock footer %}